<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--如使用在线的bulma,href="../css/bulma.css",href替换为：href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css">
    <!--图标icons、logos、字体，使用如下script-->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Form General学习</title>
</head>

<body>
    <section class="section">
        <h2 class="subtitle">Form学习</h2>
        <div class="field">
            <label class="label">姓名</label>
            <div class="control">
                <input class="input" type="text" placeholder="输入姓名">
            </div>
        </div>
        <div class="field">
            <label class="label">用户名</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text" placeholder="输入用户名">
                <span class="icon is-small is-right">
                    <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <p class="help is-success">用户名是合理的</p>

            <div class="field">
                <label class="label">邮箱</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
            </div>
            <div class="field">
                <label class="label">选择你喜欢的品牌</label>
                <div class="control">
                    <div class="select">
                        <select>
                            <option>苹果</option>
                            <option>华为</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">文本框</label>
                <div class="control">
                    <textarea class="textarea" placeholder="输入内容"></textarea>
                </div>
            </div>
            <div class="field">
                <!-- <label class="label">选择框</label> -->
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">我同意软件使用规则。
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question">YES
                    </label>
                    <label class="radio">
                        <input type="radio" name="question">NO
                    </label>
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <button class="button is-link">提交</button>
                </div>
                <div class="control">
                    <button class="button is-link is-right">取消</button>
                </div>
            </div>

            <div class="field has-addons">
                <div class="control">
                    <input class="input is-small" type="text" placeholder="搜索">
                </div>
                <div class="control">
                    <a class="button is-info is-small">搜索</a>
                </div>

            </div>

        </div>
    </section>

</body>

</html>